	<link rel="apple-touch-icon" sizes="180x180" href="{{"feather-cloud-black.svg" | relURL}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{"feather-cloud-black.svg" | relURL}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{"feather-cloud-black.svg" | relURL}}">
	<link rel="manifest" href="{{"site.webmanifest" | relURL}}">
	<link rel="mask-icon" href="{{"feather-cloud-black.svg" | relURL}}" color="{{.Site.Params.themeColor}}">
	<link rel="shortcut icon" href="{{"feather-cloud-black.svg" | relURL}}">
